# Visit https://github.com/lowlighter/metrics/blob/master/action.yml for full reference
name: Metrics
on:
  schedule: [{cron: "*/30 * * * *"}]
  workflow_dispatch:
  push: {branches: ["main"]}
jobs:
  github-readme-stats:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: |
          curl "https://github-readme-stats.vercel.app/api?username=lorenzocorallo&show_icons=true&hide_border=true&count_private=true&include_all_commits=true&theme=dark&bg_color=0d1117" > general.svg
          curl "https://github-readme-stats.vercel.app/api/top-langs/?username=lorenzocorallo&show_icons=true&hide_border=true&layout=compact&langs_count=8&theme=dark&bg_color=0d1117&exclude_repo=POLIMI-FINFO" > languages.svg
      - uses: EndBug/add-and-commit@v9
        with:
          add: ./*.svg
          message: "chore: update github-readme-stats"
          default_author: github_actions
